<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<!-- Hamburger logo -->
<link rel="shortcut icon" href="assets/hamburger_icon.ico" />

<title>Da Blog</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- <link href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"
		rel="stylesheet">
	<link href="css/standard.css" rel="stylesheet"> -->

<div th:replace="fragments/headLinks"></div>


</head>

<body>
	<div th:replace="fragments/navbar :: navbar"></div>

	<div class="container">
		<div class="row">
			<div th:each="blog:${posts}">
				<div class="col-md-12">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h1 th:text="${blog.title}"></h1>
						</div>
						<div class="panel-body">
							<strong><p th:text="${blog.author}" /></strong>
							<p th:text="${blog.blogEntry}" />
						</div>

						<div class="card-footer">
							<a href="#" th:href="@{blogposts/{id}(id=${blog.id})}">
								<button class="btn btn-warning">Edit Post</button></a>
								
							<a href="#" title="delete" class="btn btn-danger" th:href="@{blogposts/delete/{id}(id=${blog.id})}" onclick="return confirm('Are you sure you want to delete this post?')">Delete</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- <p>Please use the form below to submit a Blog Post:</p>
		<form action="#" th:action="@{/}" th:object="${blogPost}"
			method="post">
			<table>
				<tr>
					<td>Title</td>
					<td><input type="text" th:field="*{title}" /></td>
				</tr>
				<tr>
					<td>Author:</td>
					<td><input type="text" th:field="*{author}" /></td>
				</tr>
				<tr>
					<td>Blog Entry:</td>
					<td><input type="text" th:field="*{blogEntry}" /></td>
				</tr>
				<tr>
					<td><button type="submit">Submit Your Post</button></td>
				</tr>
			</table>
		</form> -->
		
		
	<div th:replace="fragments/scriptlinks"></div>

	</div>
</body>

</html>